<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Sales Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <h1 class="center-text" id="animated-text">Welcome to Sales Tracker</h1>
        <script type="text/javascript">
            $(document).ready(function(){
                setTimeout(function(){
                    $('#animated-text').text('This is your sales tracking application.');
                }, 3000);
            });
        </script>
    </div>
</body>
</html>
