<!DOCTYPE html>
<html>
<head>
    <title>Product Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <h1>Product Management</h1>
        
        <!-- Form to add a new product -->
        <form method="POST">
            {{ form.hidden_tag() }} <!-- Include this for CSRF protection -->
            <label for="name">Product Name:</label>
            <input class="search-input" type="text" id="name" name="name">
            <label for="price">Price:</label>
            <input class="search-input" type="text" id="price" name="price">
            <button class="search-button" type="submit">Search</button>
        </form>

        <hr>

        <!-- List of existing products -->
        <h2>Products List</h2>
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - ${{ product.price }}
                    <form method="POST" action="/remove_product/{{ product.id }}">
                        <button type="submit" class="remove-button">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
